<nav
  id="sidebarMenu"
  class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse"
>
  <div class="position-sticky pt-3 sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" aria-current="page" href="{% url 'dashboard' %}">
          <span data-feather="home" class="align-text-bottom"></span>
          Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'notifications' %}">
          <span data-feather="file" class="align-text-bottom"></span>
          Notifications
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'videos' %}">
          <span data-feather="file" class="align-text-bottom"></span>
          Videos
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'notes' %}">
          <span data-feather="shopping-cart" class="align-text-bottom"></span>
          Notes
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'homeworks' %}">
          <span data-feather="users" class="align-text-bottom"></span>
          Homeworks
        </a>
      </li>
    </ul>
  </div>
</nav>
